.game-over-container {
    position: absolute;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse at center, rgba(41, 41, 41, .6) 0%,rgba(14,14,14,.6) 100%);
    width: 100%;
    height: 100%;
    font-size: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 11;
    overflow: hidden;
}

.game-over-container div{
    border: 3px solid rebeccapurple;
    font-size: 30px;
    padding: 20px;
    cursor: pointer;
}

.game-over-container div:hover{
    transform: scale(1.05);

}