.next-round-active{
	position: absolute;
	right:-60px;
	height:40px;
	width: 50px;
	cursor:pointer;
	color:#ffffff;
	font-size: 40px;
	text-decoration:none;
	text-align: center;
	line-height: 40px;
	top: 50%;
    transform: translateY(-50%);
}

.next-round-active:hover {
	color:#bc3315;
}


.next-round-disabled {
    display: none;
}

.totals {
	display: flex;
	flex-direction: column;
	padding: 50px;

}

.board-area{
	display: flex;
	align-items: center;
	justify-content: center;
}

.rounds {
    z-index: 10;
	position: relative;
	display: flex;
	margin: auto;
}

.rounds h1 {
	font-size: 60px;
	text-align: center;
}