.heart-container {
    width: 35px;
    height: 35px;
    background: red;
    margin: 10px;
    cursor: pointer;
}

.heart-container-dead {
    background: transparent;
    border: 2px solid red;
    width: 35px;
    height: 35px;
    margin: 10px;
    pointer-events: none;
}

.heart-containers {
    display: flex;
    flex-direction: row;
    justify-content: center;
}