.heart-container {
    height: 70px;
    width: 90px;
    cursor: pointer;
    background-image: url("../img/full-heart.png");
    background-repeat: no-repeat;
    
}

.heart-container-dead {
    height: 70px;
    width: 90px;
    pointer-events: none;
    background-repeat: no-repeat;
    background-image: url("../img/empty-heart.png");
}

.heart-containers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 10;

}