.square {
    background: blue;
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, .25);
    box-shadow: 30px 30px 30px -20px rgba(0, 0, 0, .6);
    transition: all .5s;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
    font-size: 40px;
    text-align: center;
    line-height: 150px;
    background-image: url("../img/blue-square.png");
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 5;

}
.square:hover {
    border: 2px solid rgba(white,.7);
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    outline-width: 5px;
    text-shadow: 1px 1px 2px #427388; 
}

.red-square{
    border: 2px solid rgb(110, 0, 0);
    font-size: 30px;
    transition: all 1s;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
    box-shadow: 30px 30px 30px -20px rgba(0, 0, 0, .6);
    animation: glowing 1000ms;
    pointer-events: none;
    text-align: center;
    line-height: 150px;
    background-image: url("../img/red-square.png");
}

.green-square{
    border: 2px solid rgb(9, 119, 33);
    font-size: 30px;
    transition: all 1s;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
    box-shadow: 30px 30px 30px -20px rgba(0, 0, 0, .6);
    animation: glowing 1000ms;
    pointer-events: none;
    text-align: center;
    line-height: 150px;
    background-image: url("../img/green-square.png");
}

.white-square {
    border: 2px solid rgba(255, 255, 255, 1);
    font-size: 40px;
    transition: all 1s;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
    box-shadow: 30px 30px 30px -20px rgba(0, 0, 0, .6);
    animation: glowing 1000ms;
    pointer-events: none;
    text-align: center;
    line-height: 150px;
    background-image: url("../img/white-square.png");
}  

.square, .red-square, .white-square, .green-square, .grey {
    position: relative;
}

.grey{
    border: 2px solid rgb(70, 70, 70);
    color: transparent;
    text-shadow: 0px 0px 0px rgba(150, 150, 150, .01);
    background-image: url("../img/grey-square.png");
}

.grey .icon, .grey .icon-big{
   display: none;
}

@keyframes glowing {
    0% { box-shadow: 0 0 -10px #FFF; }
    40% { box-shadow: 0 0 20px #FFF; }
    60% { box-shadow: 0 0 20px #FFF; }
    100% { box-shadow: 0 0 -10px #FFF; }
  }


.icon {
    width:90px;
    display: inline-block;
    margin-left: auto; 
    margin-right: auto;
    vertical-align: middle;
}

.icon-small {
    width:60px;
    display: inline-block;
    margin-left: auto; 
    margin-right: auto;
    vertical-align: middle;
}

.icon-big {
    width:210px;
    position: absolute;
    left: -30px;
    height: 150px;
    vertical-align: middle;
    z-index: 10;
}