.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background: radial-gradient(ellipse at center, rgb(41, 41, 41) 0%,rgba(14,14,14,1) 100%);
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Passion One', cursive;
  color: #fff;
  transition: all .5s;
  
}

.grid{
  border: 3px solid rebeccapurple;
  border-radius: 15px;
  padding: 30px;
  flex: 0 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 150px);
  grid-template-rows: repeat(5, 150px);
  grid-gap: 20px;
}

.game-area{
  background-image: url("./img/bg-metal.png");
  width: 100%
}